
<div class="app flex-row align-items-center">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-5">
        <div class="card-group">
          <div class="card p-4">

          <form [hidden]="!login_state" class="form-group center" (ngSubmit)="navigateDashboard()" #roleForm="ngForm">
              <div class="container h-100 d-flex justify-content-center" >
                <label  for="input-small"><b>Please select a role</b> </label>
              </div>
              <div class="container h-100 d-flex justify-content-center">
                <select (click)="selectRole($event)" class="container form-control h-100 d-flex">
                  <option value='0'>Please select Role</option>
                  <option *ngFor="let list of role_list" value={{list.name}} >{{list.name}}</option>
                </select>
              </div><br>
              <div class="col-6 ">
                  <button type="submit" id="roleLogin" [disabled]="!roleForm.form.valid" class="btn btn-primary px-4 ">Next</button>
              </div>
          </form>

            <form [hidden]="login_state" class="card-body" (ngSubmit)="login()" #loginForm="ngForm">
               <img class="login-image container h-100 d-flex justify-content-center"  src="assets/img/imgpsh_fullsize.png"/>
               <div [hidden]="validationError" class="input-group mb-2 alert alert-danger">                
                <div class="login-error"  >Invalid Credentials</div>                
              </div>
              <p class="text-muted"></p>

              Username
              <div class="input-group mb-2">                
                <input type="text"  class="form-control" minlength="5" maxlength="10" id="username" name="username" [(ngModel)]="username" required #userInput="ngModel">
                              
              </div>
               <div *ngIf="userInput.errors && (userInput.dirty || userInput.touched)" class="alert alert-danger" >
                    <div [hidden]="!userInput.errors.required">
                      username is required!
                    </div>
                    <div [hidden]="!userInput.errors.minlength">
                      username must be at least 4 characters long.
                    </div>
                    <div [hidden]="!userInput.errors.maxlength">
                      username cannot be more than 30 characters long.
                    </div>
               </div> 
              Password
              <div class="input-group mb-2">             
                <input type="password" pPassword class="form-control" minlength="5"  id="password" name="password" [(ngModel)]="password" required #userPassword="ngModel">
              </div>
              <div *ngIf="userPassword.errors && (userPassword.dirty || userPassword.touched)" class="alert alert-danger" >
                    <div [hidden]="!userPassword.errors.required">
                      Password is required!
                    </div>
                    <div [hidden]="!userPassword.errors.minlength">
                      Password must be at least 4 characters long.
                    </div>
                    <div [hidden]="!userPassword.errors.maxlength">
                      Password cannot be more than 30 characters long.
                    </div>
               </div> 
              <div class="form-group ">
               <label class="login-text-color"><input type="checkbox" (click)="SetRememberMe(1)"> Remember Me</label>
              </div>
              <div class="row">
                <div class="col-6 container h-100 d-flex justify-content-center">
                  <button type="submit" id="submiLogin" [disabled]="!loginForm.form.valid" class="btn btn-primary px-4 ">Login</button>
                </div>
                
              </div>
            </form>
          </div>
          
        </div>
      </div>
    </div>
  </div>
</div>


