

<p-dataTable [value]="transactions" reorderableColumns="true" selectionMode="single"  resizableColumns="true" [responsive]="true" columnResizeMode="expand" [sortField]="sortField" [paginator]="true" [rows]="10" [pageLinks]="3" [pageLinks]="3" [rowsPerPageOptions]="[5,10,20]">
<p-header>
     <div id="adduser">

 <li class="fa fa-user-plus" (click)="showCustomerDialog()" style="font-size:12px; color:#2e5480"> Add Customer</li>
     </div>
    </p-header>     
      <p-column   field="name" header="name" [filter]="true" [sortable]="true"></p-column>
      <p-column field="email" header="email" [filter]="true" [sortable]="true"></p-column>
      <p-column field="TAT" header="TAT" [filter]="true" [sortable]="true"></p-column>
      <p-column field="FAT" header="FAT" [filter]="true" [sortable]="true"></p-column>
      <p-column field="cite" header="city" [filter]="true" [sortable]="true"></p-column>
      <p-column field="state" header="state" [filter]="true" [sortable]="true"></p-column>
       <p-column field="state" header="state" [filter]="true" [sortable]="true"></p-column>
      <p-column field="country" header="country" [filter]="true" [sortable]="true">
      </p-column>
      <p-column field="street" header="street" [filter]="true" [sortable]="true"></p-column>
      <p-column   field="action" header="Action" [filter]="false" [sortable]="false">
    
        <ng-template let-col let-user="rowData" let-i="rowIndex" pTemplate="body">
            <div class="container h-100 d-flex justify-content-center">
              <i class="fa fa-lock" (click)="permission(user,i)" ></i> &nbsp;&nbsp;
              <i class="fa fa-edit" (click)="edit(user,i)" ></i> &nbsp;&nbsp;
              <i class="fa fa-trash" (click)="delete(user,i)"></i>
            </div>
        </ng-template>

    </p-column>
</p-dataTable>
<p-dialog [(visible)]="deleteDialog" header="Add/Edit Customer" [width]="auto" height="650" class="customDialog" responsive="true" resizable="true">
		     <div class="card removeBorder" >
          <form  method="post" (ngSubmit)="saveCustomer()" #customerForm="ngForm"  class="form-horizontal">
            <div class="form-group row">
              <div class="col-sm-2">
                <label>Name <span style="color:red">*</span></label>
              </div>

              <div class="col-sm-4">
                <input type="text" id="name" pattern="^[a-zA-Z]+$" class="form-control" name="name" [(ngModel)]="customer.name" required #name="ngModel">
                <div *ngIf="name.errors && (name.dirty || name.touched)" class="alert alert-danger" >
                    <div [hidden]="!name.errors.required">
                      Name is required!
                    </div>
                    <div [hidden]="name.errors.required">
                      Name is required!
                    </div>
                    
               </div> 
              
              </div>
              <div class="col-sm-2">
                <label>Email ID</label>
              </div>
              <div class="col-sm-4">
            <input type="text" class="form-control" pattern="^[a-zA-Z0-9_.+-]+@[a-zA-Z0-9-]+\.[a-zA-Z0-9-.]+$" name="email" [(ngModel)]="customer.email" #email="ngModel">
               <div *ngIf="email.errors && (email.dirty || email.touched)" class="alert alert-danger" >
                Please Enter Valid Email ID
               </div>
              </div>
            </div>
            
             <div class="form-group row">
              <div class="col-sm-2">
                  <label>TAT</label>
              </div>
              <div class="col-sm-4">
                <input type="text" class="form-control" name="tat" [(ngModel)]="customer.tat" >
              </div>
              <div class="col-sm-2">
                 <label>STAT</label>
              </div>
              <div class="col-sm-4">
                <input type="text" class="form-control" name="stat" [(ngModel)]="customer.stat">
              </div>
            </div>
             <div class="form-group row">
              <div class="col-sm-2">
                <label>Phone No</label>
              </div>
              <div class="col-sm-4">
                <!-- <input type="text" class="form-control" name="phone_no" [(ngModel)]="customer.phone_no" > -->
                <int-phone-prefix name="phone_no" [(ngModel)]="customer.phone_no"></int-phone-prefix>
              </div>
              <div class="col-sm-2">
                <label>Fax No</label>
              </div>
              <div class="col-sm-4">
                <input type="text" pattern="\+1[2-9][0-9]{9}" class="form-control" name="fax_no" [(ngModel)]="customer.fax_no" #fax="ngModel">
                <div *ngIf="fax.errors && (fax.dirty || fax.touched)" class="alert alert-danger" >
                Please Enter Valid fax no
               </div>
              </div>
            </div>
             <div class="form-group row">
              <div class="col-sm-2">
                <label>Street</label>
              </div>
              <div class="col-sm-4">
                <input type="text" class="form-control" pattern="^[a-zA-Z]+$" name="street" [(ngModel)]="customer.street" #street="ngModel">
                <div *ngIf="street.errors && (street.dirty || street.touched)" class="alert alert-danger" >
                Please Enter Valid street
               </div>
              </div>
              <div class="col-sm-2">
                <label>Country</label>
              </div>
              <div class="col-sm-4">
               <select  class="container form-control h-100 d-flex" name="country" [(ngModel)]="customer.country">
                  <option [ngValue]="undefined" selected>Please select</option>
                  <option value="1">USA</option>
                  <option value="2">ENG</option>
                  <option value="3">INDIA</option>
                </select>
              </div>
            </div>
              <div class="form-group row">
              <div class="col-sm-2">
                 <label>Zip</label>
              </div>
              <div class="col-sm-4">
                <input type="text" class="form-control" pattern="/^(\d{5}(-\d{4})?|[A-Z]\d[A-Z] *\d[A-Z]\d)$/"  name="zip" [(ngModel)]="customer.zip" #zip="ngModel">
                <div *ngIf="zip.errors && (zip.dirty || zip.touched)" class="alert alert-danger" >
                Please Enter Valid zip
               </div>
              </div>
              <div class="col-sm-2">
               <label>Contract Date</label>
              </div>
              <div class="col-sm-4">
               <p-calendar [(ngModel)]="customer.startDate" [showIcon]="true" name="startDate"></p-calendar> <span style="margin-left:35px"></span>
              </div>
            </div>
            <div class="form-group row container h-100 d-flex ">
          <button type="submit" [disabled]="!customerForm.form.valid" class="btn">Save Customer</button><div class="col-2"></div>
        
        </div>
         </form>
         <!-- Nav tabs -->
      <form  #customerAssociationForm="ngForm" >
      <tabset>
        <tab heading="SubAccount" (select)="SelectTabContent('SubAccount')" [disabled]="tabStatus">
           <div class="form-group row">
              <div class="col-sm-2">
                <label>Name <span style="color:red">*</span></label>
              </div>
              <div class="col-sm-4">
                <input type="text" class="form-control" name="subaccountName" [(ngModel)]="subAccount.name" required>
              </div>
              <div class="col-sm-2">
                <label>TAT</label>
              </div>
             
              <div class="col-sm-4">
            <input type="text" class="form-control" name="subaccountemail" [(ngModel)]="subAccount.TAT" >
              
            </div>
             </div>
              <div class="form-group row">
              <div class="col-sm-2">
                <label>STAT</label>
              </div>
              <div class="col-sm-4">
                <input type="text" class="form-control" name="subaccountSTAT" [(ngModel)]="subAccount.STAT" >
              </div>
              <div class="col-sm-2">
               
              </div>
             
              <div class="col-sm-4">
            <button  class="form-control" [disabled]="tabStatus" (click)="addSubAccount(subAccount)" >ADD</button>
              
            </div>
             </div>
        </tab>

        <tab heading="Contacts" (select)="SelectTabContent('Contacts')" [disabled]="tabStatus">
          <div class="form-group row">
              <div class="col-sm-2">
                <label>Name</label>
              </div>
              <div class="col-sm-4">
                <input type="text" class="form-control"  pattern="^[a-zA-Z]+$" name="contract_name" [(ngModel)]="contract.contract_name" #contractName="ngModel">
                 <div *ngIf="contractName.errors && (contractName.dirty || contractName.touched)" class="alert alert-danger" >
                Please Enter Valid Name
               </div>
              </div>
              <div class="col-sm-2">
                <label>SubCustomer</label>
              </div>
              <div class="col-sm-4">
               <select  class="container form-control h-100 d-flex" name="Contactscountry" [(ngModel)]="contract.subcustomer">
                  <option [ngValue]="undefined" selected>Please select</option>
                  <option value="1">cust1</option>
                  <option value="2">cust2</option>
                  <option value="3">cust3</option>
                </select>
              </div>
            </div>
            <div class="form-group row">
              <div class="col-sm-2">
                <label>Phone No</label>
              </div>
              <div class="col-sm-4">
                <int-phone-prefix name="phone_no" [(ngModel)]="contract.phone_no"></int-phone-prefix>
              </div>
              <div class="col-sm-2">
                <label>Select Type</label>
              </div>
              <div class="col-sm-4">
               <select  class="container form-control h-100 d-flex" name="Contacts_selecttype" [(ngModel)]="contract.select_type">
                  <option [ngValue]="undefined" selected>Please select</option>
                  <option value="1">cust1</option>
                  <option value="2">cust2</option>
                  <option value="3">cust3</option>
                </select>
              </div>
            </div>
              <div class="form-group row">
              <div class="col-sm-2">
                <label>Email</label>
              </div>
              <div class="col-sm-4">
                <input type="text" pattern="^[a-zA-Z0-9_.+-]+@[a-zA-Z0-9-]+\.[a-zA-Z0-9-.]+$" class="form-control" name="Contactsemail" [(ngModel)]="contract.email" #contractEmail="ngModel">
                <div *ngIf="contractEmail.errors && (contractEmail.dirty || contractEmail.touched)" class="alert alert-danger" >
                Please Enter Valid Email ID
               </div>
              </div>
              <div class="col-sm-2">
                
              </div>
              <div class="col-sm-4">
               <button class="form-control" [disabled]="tabStatus" (click)="addcontract(contract)">Add</button>
            </div>
            </div>
        </tab>
        <tab heading="WorkType" [disabled]="tabStatus">
          third
        </tab>
         <tab heading="WorkFlow" [disabled]="tabStatus">
          fourth
        </tab>
        <tab heading="Template" [disabled]="tabStatus">
          fifth
        </tab>
        <tab heading="Billing" [disabled]="tabStatus">
          six
        </tab>
        <tab heading="Document" [disabled]="tabStatus">
          sevan
        </tab>
        <tab heading="UserAssociation" [disabled]="tabStatus">
          eight
        </tab>
      </tabset>
       <div class="scrollit" *ngIf="SubAccount">
       <table style="width:100%" id="customers" >
        <tr>
          <th>Action</th>
          <th>Name</th> 
          <th>TAT</th>
          <th>STAT</th>
       </tr>
          <tbody >
          <tr  *ngFor="let subacount of subAccount">
          <td></td>
          <td>{{subacount.name}}</td> 
          <td>{{subacount.TAT}}</td>
          <td>{{subacount.STAT}}</td>
          </tr> 
         </tbody>
        </table>
        </div>
        <br>
        <div class="form-group row closebutton">
          <button type="submit" (click)="customerAssociationHandler()" [disabled]="!customerAssociationForm.form.valid" class="btn">Save</button><div class="col-2"></div>
          <button (click)="deleteDialog = !deleteDialog" class="btn">Close</button>
        </div>
      </form>
      </div>
</p-dialog>
