

  <header id="topHeader">
  <img class="logo" src="assets/img/imgpsh_fullsize.png"/> 


    <!--   <header class="app-header" style=" background-color:#2e5480">
        <!--<button class="navbar-toggler d-lg-none" type="button" appMobileSidebarToggler >
          <span class="navbar-toggler-icon"></span>
        </button>-->
        
        <!--<a class="navbar-brand" href="#"></a>-->
           <!--  <a>
              <a class="col-1 " style="color:white;" ><i class="fa fa-home w3-xxlarge"></i>   &nbsp; File</a>      
            </a>

            <a>
              <a class="col-1" style="color:white;" >Tools</a>      
            </a>
            <a>
              <a class="col-1" style="color:white;">Help</a>      
            </a>
 -->
        <!--<button class="navbar-toggler d-md-down-none mr-auto" type="button" appSidebarToggler>
          <span class="navbar-toggler-icon"></span>
        </button>-->
        <!-- <button class="navbar-toggler d-md-down-none" type="button" > -->
          <!--appAsideMenuToggler-->
         <!--  <span class="navbar-toggler-icon"></span>
        </button>
      </header>  -->
 <!-- <div id="logoutdropdown" style="background-color:#2e5480 !important;color:white;font-size:12px" class="w3-dropdown-hover pull-right">
    <button class="w3-button  dropdown-toggle">{{username}}</button>
    <div class="w3-dropdown-content w3-bar-block w3-border">
      <a (click)="logOut()" class="w3-bar-item w3-button">LogOut</a>
      
    </div>
  </div> -->
 <!--  <div id="logoutdropdown"  class="pull-right">
   <div class="btn-group" dropdown>
            <div dropdownToggle type="button" class="btn btn-primary dropdown-toggle">
              {{username}}<span class="caret"></span>
            </div>
            <ul *dropdownMenu class="dropdown-menu" role="menu">
              <li role="menuitem"><a (click)="logOut()" class="dropdown-item">LogOut</a></li>
              
            </ul>
          </div>{{username}}[{{role_type}}]
  </div> -->
 
 
   <div class="btn-group pull-right" style="margin-right: 4%;color:white;padding-left:3%;" dropdown>
            <p dropdownToggle  class="dropdown-toggle">
               aniket[adminstartor]<span class="caret"></span>
            </p>
            <ul *dropdownMenu class="dropdown-menu logout-dropdown" role="menu">
              <li role="menuitem"><a class="dropdown-item" (click)="myProfile()">My Profile</a></li>
              <li role="menuitem"><a class="dropdown-item" (click)="logOut()">LogOut</a></li>
          
            </ul>
   </div>

 

  
  </header><br><br>
    
      <header class="app-header menuList" style=" margin-top: -46px; background-color:#4e6e93;z-index:0!important">
        <!--<a class="navbar-brand" href="#">-46</a>-->
            <a >
              <a class="col-1 colr font"  routerLink="/users" routerLinkActive="active" ><i class="fa fa-user-o icon" > Users</i></a>      
            </a>
            <a  >
              <a class="col-1 colr font " routerLink="/customers" routerLinkActive="active" ><i class="fa fa-handshake-o icon" > Customer</i></a>      
            </a>
            <a >
              <a class="col-1 colr font"  routerLink="/roles" routerLinkActive="active"  ><i class="fa fa-lock icon" > Roles</i></a>      
            </a>
            <a>
              <a class="col-1 colr font" routerLink="/Cases" routerLinkActive="active"><i class="fa fa-suitcase icon"> Cases</i></a>      
            </a>
            <a> 
              <a class="col-1 colr font" routerLink="/workflow" routerLinkActive="active"><i class="fa fa-suitcase icon"> WorkFlow</i></a>      
            </a>
            <a>
              <a class="col-1 colr font" routerLink="/Billing" routerLinkActive="active"><i class="fa fa-credit-card icon"> Billing</i></a>      
            </a>
            <a>
              <a class="col-1 colr font" routerLink="/workspace" routerLinkActive="active"><i class="fa fa-suitcase icon"> Workspace</i></a>      
            </a>
            <a>
              <a class="col-1 colr font" routerLink="/setting"  routerLinkActive="active"><i class="fa fa-gear icon"> Setting</i></a>      
            </a>
            <button  class="navbar-toggler d-md-down-none" type="button" >
              <span class="navbar-toggler-icon"></span>
            </button>
      </header>
    
    <br><br>

    <div>

    <!--<ol class="breadcrumb" style="margin-top: -11px;">
      <app-breadcrumbs></app-breadcrumbs>
    </ol>-->

      <!--<header class="app-header" style="margin-top: -6px;z-index:0!important; padding: 10px; background-color:ghostwhite">
       <app-breadcrumbs></app-breadcrumbs>
      </header>-->
    </div>






