<p-dataTable [value]="transactions" resizableColumns="true" selectionMode="single" reorderableColumns="true" columnResizeMode="expand" [sortField]="sortField" [responsive]="true" [paginator]="true" [rows]="10" [pageLinks]="3">     
      <p-column   field="date" header="Date" [filter]="true" [sortable]="true"></p-column>
      <p-column field="label" header="Label" [filter]="true" [sortable]="true"></p-column>
      <p-column field="amount" header="Amount" [filter]="true" [sortable]="true"></p-column>
    </p-dataTable>