<template>
  <div class="animated fadeIn">
    <p class="text-info">In dashboard</p>
  </div>
</template>

<script>
export default {
  name: 'dashboard',
   mounted()
   {
     console.log("onload method");
   }
}
</script>
