<template>
  <div class="app flex-row align-items-center">
    <div class="container">
      <b-row class="justify-content-center">
        <b-col md="5" >
          <form  method="post" @submit="login()">
          <b-card-group>
            <b-card no-body class="p-4">
              <b-card-body>
                <h1>Login</h1>
              <div v-if="invalidLogin===true"  style="color:red">
                  <p> Invalid username password</p>
              </div>
               <p class="text-muted">Sign In to your account</p>
                <b-input-group class="mb-3">
                  <b-input-group-prepend><b-input-group-text><i class="icon-user"></i></b-input-group-text></b-input-group-prepend>
                  <input type="text" class="form-control" name="username" v-model="username" placeholder="Username" v-validate="'required'">
                 </b-input-group>
                  <p v-show="errors.has('username')" class="alert alert-danger">{{ errors.first('username')}} </p> 
                <b-input-group class="mb-4">
                  <b-input-group-prepend><b-input-group-text><i class="icon-lock"></i></b-input-group-text></b-input-group-prepend>
                  <input type="password" class="form-control" v-model="password" placeholder="Password" name="password" v-validate="'required'">
                </b-input-group>
                <p v-show="errors.has('password')" class="alert alert-danger">{{ errors.first('password')}} </p> 
                <b-row>
                  <b-col cols="6">
                    <b-button variant="primary" :disabled="!isComplete" @click="login()"  class="px-4">Login</b-button>
                  </b-col>
                  <b-col cols="6" class="text-right">
                    <b-button variant="link" class="px-0">Forgot password?</b-button>
                  </b-col>
                </b-row>
              </b-card-body>
            </b-card>
          </b-card-group>
          </form>
        </b-col>
      </b-row>
    </div>
  </div>
</template>

<script>
import axios from 'axios'
export default {
  name: 'login',
  alpha: () => 'Some English Message',
  data () {
    return {
      password: null,
      username: null,
      invalidLogin: false
    }
  },
  methods: {
    login () {
      if (this.username && this.password)
      {
        
        axios.get("https://api.blockcypher.com/v1/btc/main")
        .then(response => {
          console.log(response);
          this.invalidLogin=false
          this.$router.push("/dashboard")
        })
       .catch(e => {
          this.errors.push(e)
         })

     }else
     {
         
         this.invalidLogin =true
     }
      
    }
  },
  computed: {
  isComplete () {
    return this.username && this.password;
  }
}

}
</script>