<p-growl [(value)]="msgs"></p-growl>
<p-dataTable [value]="transactions" reorderableColumns="true" selectionMode="single" resizableColumns="true"  [responsive]="true" columnResizeMode="expand" [sortField]="sortField" [paginator]="true" [rows]="10" [pageLinks]="3" [rowsPerPageOptions]="[5,10,20]"> 
<p-header>
     <div id="adduser">

 <li class="fa fa-lock" (click)="addRole()" style="font-size:12px; color:#2e5480"> Add Roles</li>
     </div>
    </p-header>    
      <p-column   field="action.icon" header="action"  [filter]="true" [sortable]="true" >
			<ng-template let-col let-roledata="rowData" let-i="rowIndex" pTemplate="body">
				<div class="container h-100 d-flex justify-content-center">
						<i class="fa fa-edit" (click)="editRole(roledata, i)"></i> &nbsp;&nbsp;
						<i class="fa fa-trash" (click)="deleteRole(roledata, i)"></i>
				</div>
			</ng-template>
	  </p-column>	  
      <p-column field="name" header="name" [filter]="true" [sortable]="true"></p-column>
      <p-column field="description" header="description" [filter]="true" [sortable]="true"></p-column>
</p-dataTable>

<p-dialog [(visible)]="showDialog" header="Add/Edit Role">
		<!-- <div  style="background-color: cornflowerblue;" class="container h-100 d-flex justify-content-center">
				{{modal_title}}
		</div><br> -->
	
          <form action="" method="post" (ngSubmit)="saveRolePermission()" #roleForm="ngForm" class="form-horizontal">
				<div class="form-group row">
					<div class="col-sm-5" >
						<label class="container h-100 d-flex "  for="input-small"> Name: </label>
					</div>
					<div class="col-sm-6">
						<input type="text" name="role.name" [(ngModel)]="role.name" required class="form-control form-control-sm">
					</div>
				</div>

				<div class="form-group row">
					<div class="col-sm-5" >
						<label class="container h-100 d-flex "  for="input-small"> Description: </label>
					</div>
					<div class="col-sm-6">
						<input type="text" name="role.description" required [(ngModel)]="role.description" class="form-control form-control-lg">
					</div>
				</div>


				<div class="row">
					<div class="col-lg-12">
						<table class="table table-bordered table-striped table-sm">
							<thead>
							<tr>
								<th>Functionality</th>
								<th>All</th>
								<th>Read</th>
								<th>Write</th>
								<th>Delete</th>
							</tr>
							</thead>
							<tbody>
							<tr *ngFor="let list of permissions; index as i">
								<td>{{list.name}} </td>
								<td (click)="all(i,list)">
									<input *ngIf="list.all === true" type="checkbox" checked/>
									<input *ngIf="list.all === false" type="checkbox" />
								</td>
								<td (click)="read(i,list)">
									<input *ngIf="list.read === true" type="checkbox" checked/>
									<input *ngIf="list.read === false" type="checkbox" />
								</td>
								<td (click)="write(i,list)">
									<input *ngIf="list.write === true" type="checkbox" checked/>
									<input *ngIf="list.write === false" type="checkbox" />
								</td>
								<td (click)="delete(i,list)">
									<input *ngIf="list.delete === true" type="checkbox" checked/>
									<input *ngIf="list.delete === false" type="checkbox" />
								</td>
							</tr>
							
							</tbody>
						</table>
						
					</div>
					<!--/.col-->
				</div>

				
				<div class="form-group row container h-100 d-flex justify-content-center">
					<button type="submit" [disabled]="!roleForm.form.valid"  (click)="saveRolePermission()" class="btn">Save</button> <div class="col-2"></div>
					<button (click)="showDialog = !showDialog" class="btn">Close</button>
				</div>

          </form>
</p-dialog>


<p-dialog [(visible)]="deleteDialog" header="Delete Role">
				<!-- <div class="delete-popup container h-100 d-flex justify-content-center">
						{{modal_title}}
				</div><br>		 -->	
				<h6 class="popup-title container h-100 d-flex justify-content-center">Do you want to delete Role</h6>
				<div class="form-group row container h-100 d-flex justify-content-center">
					<button (click)="deleteUserRole()" class="btn">Yes</button><div class="col-2"></div>
					<button (click)="deleteDialog = !deleteDialog" class="btn">Close</button>
				</div>
</p-dialog>
