<footer class="app-footer" style=" background-color:#2e5480">
  <span  style="color: ghostwhite;font-size:12px"><a href="http://coreui.io">OrisRev</a> &copy; 2018 .</span>
  <span class="ml-auto" style="color: ghostwhite;font-size:12px">Powered by <a href="http://coreui.io">OrisRev</a></span>
</footer>
